[submodule "repos/cynthion"]
	path = repos/cynthion
	url = https://github.com/awtoau/awto-cynthion.git
	branch = main

[submodule "repos/apollo"]
	path = repos/apollo
	url = https://github.com/awtoau/awto-apollo.git

[submodule "repos/cynthion-hardware"]
	path = repos/cynthion-hardware
	url = https://github.com/awtoau/awto-cynthion-hardware.git
[submodule "repos/vexiiriscv"]
	path = repos/vexiiriscv
	url = https://github.com/SpinalHDL/VexiiRiscv.git
