LOCATE COMP "clk"   SITE "A8";
LOCATE COMP "en"    SITE "M14";
LOCATE COMP "alive" SITE "C9";
IOBUF PORT "clk"   IO_TYPE=LVCMOS33;
IOBUF PORT "en"    IO_TYPE=LVCMOS33;
IOBUF PORT "alive" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 60.000000 MHz;
